<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Department List</title>
        <div th:replace="base::head"></div>

        <nav id="nav_bar">
            <ul id="navmenu">
                <li><a  href="/">Home</a></li>
                <li ><a class="current" href="/departmentlist">Departments' Information</a></li>
                <li><a href="/employeelist">Employees' Information</a></li>
                <li><a href="/adddepartment">Add Departments</a></li>
                <li><a href="/addemployee">Add Employees</a></li>
            </ul>
        </nav><br/>


<div style="width: 1000px;margin-left: 300px;" class="row">
            <table class="content-table">
                <thead>
                <tr>
                    <th>Department Name&nbsp;</th>
                    <th>Head of Department</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="department : ${departments}">
                    <td th:text="${department.depname}"></td>
                    <td th:text="${department.directorname}"></td>
                    <td>
                        <a th:href="@{/update_department/{id}(id=${department.id})}" class="btn btn-primary btn-lg" role="button">Update</a>
                        <a th:href="@{/detail_department/{id}(id=${department.id})}" class="btn btn-primary btn-lg" role="button">Details</a>
                        <a th:href="@{/delete_department/{id}(id=${department.id})}" class="btn btn-primary btn-lg" role="button">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <h5 style="margin: 40px;">After adding the information of the employees, the new data will be listed below properly.</h5>

    <ul>


             <div th:each="department:${departments}">
                <h5 th:text="${department.depname}"></h5>
                <h6 th:inline="text"> Head of Department: [[${department.directorname}]].</h6>
                <ul style="list-style-type: square;">
                    <th:block th:each="employee:${department.employees}">
                        <li th:inline="text"><b>[[${employee.name}]]: </b>[[${employee.jobtitle}]]</li>
                    </th:block>
                </ul>
            <br/>

            </div>


    <br/>
    </ul>
            <br/>
</div>
        <footer>
            <div class="footer-main-div" style="margin-left: 300px; width: 1100px; height: 80px;">
                <p style="color:#ffcce6; ">&copy; Copyright 2019 Emily Marinovich.</p>


            </div>

        </footer><br/>

    </body>

</html>