<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Department Form</title>
    <div th:replace="base::head"></div>

<nav id="nav_bar">
    <ul id="navmenu">
        <li><a  href="/">Home</a></li>
        <li ><a href="/departmentlist">Departments' Information</a></li>
        <li><a href="/employeelist">Employees' Information</a></li>
        <li><a class="current" href="/adddepartment">Add Departments</a></li>
        <li><a href="/addemployee">Add Employees</a></li>
    </ul>
</nav><br/>


<!--<div style="width: 1000px;height: 600px;margin-left: 300px;" class="row">-->

<br/><br/>
    <form action="#" th:action="@{/process}" th:object="${department}" method="post">

        <input type="hidden" th:field="*{id}" />

        Department Name:&nbsp;<input type="text" th:field="*{depname}" />

        <span th:if="${#fields.hasErrors('depname')}" th:errors="*{depname}"></span>
        <br>
        Director Name:&nbsp;<input type="text" th:field="*{directorname}" />

        <span th:if="${#fields.hasErrors('directorname')}" th:errors="*{directorname}"></span>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary btn-lg" role="button"/>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="margin-top: 10px;" href="/" class="btn btn-primary btn-lg" role="button">See All information of the company. </a><br/>

    </form>



<!--</div>-->

<br/>
<footer>
    <div class="footer-main-div" style="margin-left: 300px; width: 1100px; height: 80px;">
        <p style="color:#ffcce6; ">&copy; Copyright 2019 Emily Marinovich.</p>


    </div>

</footer><br/>
</body>
</html>