<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Form</title>
    <div th:replace="base::head"></div>

<nav id="nav_bar">
    <ul id="navmenu">
        <li><a  href="/">Home</a></li>
        <li ><a href="/departmentlist">Departments' Information</a></li>
        <li><a href="/employeelist">Employees' Information</a></li>
        <li><a href="/adddepartment">Add Departments</a></li>
        <li><a class="current" href="/addemployee">Add Employees</a></li>
    </ul>
</nav><br/>

<br/><br/>

<form action="#" enctype="multipart/form-data" th:action="@{/processempoloyee}" th:object="${employee}" method="post">

    <input type="hidden" th:field="*{id}" />

    Employee Name:&nbsp;<input type="text" th:field="*{name}" />

    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">&nbsp;&nbsp;</span><br/>

    Job Title:&nbsp;<input type="text" th:field="*{jobtitle}" />

    <span th:if="${#fields.hasErrors('jobtitle')}" th:errors="*{jobtitle}"></span>

    <br>

    Department:&nbsp;<select style="margin:5px;border-radius: 5px;padding: 5px;" name="department" th:field="*{department}">

    <option th:each="department : ${departments}"

            th:value="${department.id}"

            th:text="${department.depname}"></option>

</select>
<br/>
    <input hidden="hidden" style="margin:10px; border-radius: 5px;" type="file" name="file" id="file" th:field="*{headshot}">
    <span th:if="${#fields.hasErrors('headshot')}" th:errors="*{headshot}"></span>
    <button type="button"  id="custom-button" class="btn btn-warning btn-lg" role="button">Choose Employee Photo</button>
    <span id="custom-text">No file chosen, yet.</span>

    <br>

    <input type="submit" value="Submit" class="btn btn-primary btn-lg" role="button">


</form>

<br/>
<footer>
    <div class="footer-main-div" style="margin-left: 300px; width: 1100px; height: 80px;">
        <p style="color:#ffcce6; ">&copy; Copyright 2019 Emily Marinovich.</p>


    </div>

</footer><br/>
<script type="text/javascript">
    const realFileBtn= document.getElementById("file");
    const customBtn=document.getElementById("custom-button");
    const custom8Txt=document.getElementById("custom-text");

    customBtn.addEventListener("click",function(){
    realFileBtn.click();
    });
    realFileBtn.addEventListener("change",function () {
        if(realFileBtn.value){
            custom8Txt.innerHTML=realFileBtn.value+" has been chosen.";
        }else {
            custom8Txt.innerHTML="No file chosen,yet.";
        }
    });

/*for fakepath on Chrome
    $(function() {
        $(".inputWrapper").mousedown(function() {
            var button = $(this);
            button.addClass('clicked');
            setTimeout(function(){
                button.removeClass('clicked');
            },50);
        });
        $('input[type=file]').on('change', function(e) {
            var filename = $(e.currentTarget).val().replace(/^.*\\/, "");
            $this.parent().find('span').text(filename);
        });
    });*/
</script>
</body>
</html>