<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <div th:replace="base::head"></div>

<nav id="nav_bar">
    <ul id="navmenu">
        <li><a href="/">Home</a></li>
        <li ><a href="/departmentlist">Departments' Information</a></li>
        <li><a class="current" href="/employeelist">Employees' Information</a></li>
        <li><a href="/adddepartment">Add Departments</a></li>
        <li><a href="/addemployee">Add Employees</a></li>
    </ul>
</nav><br/>

<br/>
<div style="width: 1000px;margin-left: 300px;" class="row">

    <table style="margin-top: 20px;" class="content-table">
        <thead>
        <tr>
            <th>Employee Name&nbsp;&nbsp;</th>
            <th>Job Title&nbsp;</th>
            <th>Department Name</th>
        </tr>

        <thead>

        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.jobtitle}"></td>
            <td th:text="${employee.department.depname}"></td>
            <td>

                <a th:href="@{/update_employee/{id}(id=${employee.id})}" class="btn btn-primary btn-lg" role="button">Update</a>

                <a th:href="@{/detail_employee/{id}(id=${employee.id})}" class="btn btn-primary btn-lg" role="button">Details</a>

                <a th:href="@{/delete_employee/{id}(id=${employee.id})}" class="btn btn-primary btn-lg" role="button">Delete</a>

            </td>
        </tr>
        <tbody>
    </table>
    <h5 style="margin: 40px;">Please enter the employees' information in the page of Add Employees.</h5>
</div>
<br/>
<footer>
    <div class="footer-main-div" style="margin-left: 300px; width: 1100px; height: 80px;">
        <p style="color:#ffcce6; ">&copy; Copyright 2019 Emily Marinovich.</p>


    </div>

</footer><br/>
</body>
</html>