<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
<div th:replace="base::head"></div>
<nav id="nav_bar">
    <ul id="navmenu">
        <li><a class="current" href="/">Home</a></li>
        <li ><a href="/albumtlist">Albums' Information</a></li>
        <li><a href="/songlist">Songs' Information</a></li>
        <li><a href="/addalbum">Add Albums</a></li>
        <li><a href="/addsong">Add Songs</a></li>
    </ul>
</nav><br/>

<div style="width: 1000px;margin-left: 300px;" class="row">
<table class="content-table">
    <thead>
    <tr>
        <th>Album Genre</th>
        <th>Album Title</th>
        <th>Artist Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album : ${albums}">

        <td th:text="${album.genre}"></td>
        <td th:text="${album.artistname}"></td>
        <td th:text="${album.albumtitle}"></td>
        <td>
            <a th:href="@{update_album/{id}(id=${album.id})}" class="btn btn-primary btn-lg" role="button">Update</a>
            <a th:href="@{detail_album/{id}(id=${album.id})}" class="btn btn-primary btn-lg" role="button">Details</a>
            <a th:href="@{delete_album/{id}(id=${album.id})}" class="btn btn-primary btn-lg" role="button">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


<table class="content-table">
    <thead>
    <tr>
        <th>Song's Title</th>
        <th>Album Title</th>
        <th>Artist Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.songtitle}"></td>
        <td th:text="${song.album.albumtitle}"></td>
        <td th:text="${song.album.artistname}"></td>
        <td>
            <a th:href="@{update_song/{id}(id=${song.id})}" class="btn btn-primary btn-lg" role="button">Update</a>
            <a th:href="@{detail_song/{id}(id=${song.id})}" class="btn btn-primary btn-lg" role="button">Details</a>
            <a th:href="@{delete_song/{id}(id=${song.id})}" class="btn btn-primary btn-lg" role="button">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div th:replace="base::footer"></div>
</body>
</html>