<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="base::headNav"></div>


<div style="width: 1000px;height: 600px;margin-left: 300px;" class="row">
<table>
    <thead>
    <tr>
        <th>Department Name</th>
        <th>Director Name</th>
    </tr>
    <thead>
    <tbody>
    <tr th:each="department : ${departments}">

        <td th:text="${department.depname}"></td>
        <td>
            <a th:href="@{update_department/{id}(id=${department.id})}">Update</a>
            <a th:href="@{detail_department/{id}(id=${department.id})}">Details</a>
            <a th:href="@{delete_department/{id}(id=${department.id})}">Delete</a>
        </td>
    </tr>
    <tbody>
</table>

<h1 >Employees</h1>

<table>
    <tr>
        <th>Employee's Name&nbsp;&nbsp;</th>
        <th>Job Title&nbsp;</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.jobtitle}"></td>
        <td th:text="${employee.department.depname}"></td>
        <td>
            <a th:href="@{update_employee/{id}(id=${employee.id})}">Update</a>
            <a th:href="@{detail_employee/{id}(id=${employee.id})}">Details</a>
            <a th:href="@{delete_employee/{id}(id=${employee.id})}">Delete</a>
        </td>
    </tr>
</table>
</div>

<div th:replace="base::footer"></div>
</body>
</html>