<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="base::headNav"></div>


<div style="width: 1000px;height: 600px;margin-left: 300px;" class="row">

    Department Name: <span th:text="${department.depname}"></span><br />

    <span>Employees:</span><br>

    <tr>
        <th>Employee Name&nbsp;&nbsp;</th>
        <th>Job Title</th>
    </tr>

    <tr th:each="employee : ${department.employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.jobtitle}"></td>
    </tr>
<div th:replace="base::footer"></div>
</body>
</html>