<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="base::headNav"></div>

<nav id="nav_bar">
    <ul id="navmenu">
        <li><a  href="/">Home</a></li>
        <li ><a href="/departmentlist">Departments' Information</a></li>
        <li><a class="current" href="/employeelist">Employees' Information</a></li>
        <li><a href="/adddepartment">Add Departments</a></li>
        <li><a href="/addemployee">Add Employees</a></li>
    </ul>
</nav><br/>
<div style="width: 1000px;margin-left: 300px;" class="row">
    <div style="width:600px;height: 400px;margin-left: 40px;color:darkred;">
    <h4 style="margin-left: 50px;">Employee Details</h4>

    Employee Name: <span th:text="${employee.name}"></span><br />
    Employee Title: <span th:text="${employee.jobtitle}"></span><br />
    Department Name: <span th:text="${employee.department.depname}"></span></div><br />
</div>
    <div th:replace="base::footer"></div>
</body>
</html>