<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Departments</title>
<div th:replace="base::head"></div>

<nav id="nav_bar">
    <ul id="navmenu">
        <li><a  href="/">Home</a></li>
        <li ><a class="current" href="/departmentlist">Departments' Information</a></li>
        <li><a href="/employeelist">Employees' Information</a></li>
        <li><a href="/adddepartment">Add Departments</a></li>
        <li><a href="/addemployee">Add Employees</a></li>
    </ul>
</nav><br/>
<div style="width: 1000px;margin-left: 300px;" class="row">

    <h5 style="margin-left: 50px;">Department Name: <span th:text="${department.depname}"></span><br /></h5>

    <br>
    <table class="content-table">
        <thead>
    <tr>
        <th>Employee Name&nbsp;&nbsp;</th>
        <th>Job Title</th>
    </tr>
        </thead>
        <tbody>
    <tr th:each="employee : ${department.employees}">
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.jobtitle}"></td>
    </tr>
        </tbody>
</table>
</div>
<div th:replace="base::footer"></div>
</body>
</html>